<div class="home" >

  <header class="row">

    <div class="col s2 reserve valign-wrapper">
        <div *ngIf="google">
          <a routerLink="/admin">Rezervacije</a>
        </div>
    </div>

    <div class="col s8 center-align heading">      
      <h1 (click)="check($event)">Happy Star Hostel</h1>
    </div>

    <div class="col s2 login">
      <div *ngIf="!google" class="login2" >
        <a routerLink="/login">Login</a>
      </div>
      <div *ngIf="google">
        <div *ngFor="let user of google" class="google-image">
          <img  src="{{user.thumbnail}}" alt="">
          <a class="google-btn" (click)=logOut() href="http://localhost:3000/user/logout">LogOut</a>
        </div>
      </div>
    </div>

  </header>

<div class="container">
  <div class="center-align">
    <!-- <landing></landing> -->
    <div class="carousel " data-indicators="true">
      <a class="carousel-item" href="#describe">
          <div class="card">
              <div class="card-image">
                <img class="responsive-img" src="../../assets/images/hodnik 1.jpg">
              </div>                  
          </div>
        </a>
      <a class="carousel-item" href="#describe">
          <div class="card">
              <div class="card-image">
                <img class="responsive-img" src="../../assets/images/hodnik 2.jpg">
              </div>                  
          </div>
        </a>
      <a class="carousel-item" href="#room1">
          <div class="card">
              <div class="card-image">
                <img class="responsive-img" src="../../assets/images/room 1.jpg">
                <span class="card-title">Apartman 1</span>
              </div>                  
          </div>
        </a>
    <a class="carousel-item" href="#room2">
        <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="../../assets/images/room 2.jpg">
              <span class="card-title">Apartman 2</span>
            </div>                  
        </div>
    </a>
    <a class="carousel-item" href="#room3">
        <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="../../assets/images/room 3.jpg">
              <span class="card-title">Apartman 3</span>
            </div>                  
        </div>
      </a>            
      <a class="carousel-item" href="#room4">
        <div class="card">
            <div class="card-image">
              <img class="responsive-img" src="../../assets/images/room 4.jpg">
              <span class="card-title">Apartman 4</span>
            </div>                  
        </div>
      </a>
    </div>
    </div>
    <br>
    <div class="center-align" id="accesories">
        <li class="btn-floating color3 btn-large"><i class="large material-icons ">ac_unit</i></li>
        <li class="btn-floating color2 btn-large"><i class="large material-icons">tv</i></li>
        <li class="btn-floating color1 btn-large"><i class="large material-icons">wifi</i></li>            
        <li class="btn-floating color2 btn-large"><i class="large material-icons">smoking_rooms</i></li>
        <li class="btn-floating color3 btn-large"><i class="large material-icons">drive_eta</i></li>
        
        <br>
        <br>
    </div>
    
    <p class="about flow-text" id="describe">Ovde ide tekst o hostelu</p>
    <div  class="row">          
        <div class="col s12 m4">
          <img class="materialboxed responsive-img " src="../../assets/images/garden 2.JPG" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/garden.JPG" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/garden 3.JPG" alt="">
        </div>
      </div>
    
    <hr>
    <h3 id="room1">Apartman 1</h3>
    <div  class="row">          
      <div class="col s12 m4">
        <img class="materialboxed responsive-img " src="../../assets/images/room 1-1.jpg" alt="">
      </div> 
      <div class="col s12 m4">
        <img class="materialboxed responsive-img" src="../../assets/images/room 1-2.jpg" alt="">
      </div> 
      <div class="col s12 m4">
        <img class="materialboxed responsive-img" src="../../assets/images/room 1-3.JPG" alt="">
      </div>
    </div>
    <div class="center-align" id="accesories">
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons ">ac_unit</i></li>
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">tv</i></li>
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">wifi</i></li>            
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">smoking_rooms</i></li>
    </div>
    <p class="about flow-text">Ovde ide tekst o apartmanu 1, cena itd ...</p>
    <label for="my-date-range-picker"></label>

    <form #myForm="ngForm" class="flex" novalidate>
     <h4>Proveri dostupnost</h4>
     <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions1"
     [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)">
    </my-date-range-picker>    
     <div *ngIf="btnSchedule">
       <a href="#contactForm" class="btn waves-effect waves-light btn brown" (click)="apartman1('1')">Zakaži</a>
     </div>                 
    </form>
   
  <hr>
  
    <h3 id="room2" >Apartman 2</h3>
    <div class="row">
      <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 2-1.jpg" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 2-2.jpg" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 2-3.JPG" alt="">
        </div>
    </div>
    <div class="center-align" id="accesories">
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">tv</i></li>
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">wifi</i></li>            
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">smoking_rooms</i></li>
    </div>
    <p class="about flow-text">Ovde ide tekst o apartmanu 2, cena itd ...</p>
    
    <form #myForm="ngForm" class="flex" novalidate>
    <h4>Proveri dostupnost</h4>
     <my-date-range-picker name="mydaterange2" [options]="myDateRangePickerOptions2"
     [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)">
    </my-date-range-picker>    
     <div *ngIf="btnSchedule">
       <a href="#contactForm" class="btn waves-effect waves-light btn brown" (click)="apartman1('2')">Zakaži</a>
     </div>
     </form>

    <hr>

    <h3 id="room3">Apartman 3</h3>
    <div class="row">          
      <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 3-1.jpg" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 3-2.jpg" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 3-3.jpg" alt="">
        </div>
    </div>
    <div class="center-align" id="accesories">
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons ">ac_unit</i></li>
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">tv</i></li>
        <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">wifi</i></li>            
    </div>
    <p class="about flow-text">Ovde ide tekst o apartmanu 3, cena itd ...</p>
    
    <form #myForm="ngForm" class="flex" novalidate>
      <h4>Proveri dostupnost</h4>
       <my-date-range-picker name="mydaterange2" [options]="myDateRangePickerOptions3"
       [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)">
      </my-date-range-picker>    
       <div *ngIf="btnSchedule">
         <a href="#contactForm" class="btn waves-effect waves-light btn brown" (click)="apartman1('3')">Zakaži</a>
       </div>
    </form>

    <hr>
    
    <h3 id="room4">Apartman 4</h3>
    <div class="row">            
      <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 4-1.jpg" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 4-2.jpg" alt="">
        </div> 
        <div class="col s12 m4">
          <img class="materialboxed responsive-img" src="../../assets/images/room 4-3.jpg" alt="">
        </div>
    </div>
    <div class="center-align" id="accesories">
      <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons ">ac_unit</i></li>
      <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">tv</i></li>
      <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">wifi</i></li>            
      <li class="btn-floating color4 btn-medium"><i class="large color4 material-icons">smoking_rooms</i></li>
  </div>
    <p class="about flow-text">Ovde ide tekst o apartmanu 4, cena itd ...</p>
    
    <form #myForm="ngForm" class="flex" novalidate>
      <h4>Proveri dostupnost</h4>
       <my-date-range-picker name="mydaterange2" [options]="myDateRangePickerOptions4"
       [(ngModel)]="model" (dateRangeChanged)="onDateRangeChanged($event)">
      </my-date-range-picker>    
       <div *ngIf="btnSchedule">
         <a href="#contactForm" class="btn waves-effect waves-light btn brown" (click)="apartman1('4')">Zakaži</a>
       </div>
    </form>
   
    <hr>
    <contact-form *ngIf="hidden" id="contactForm" [apartman]="apartman" [submited] [schedule]="schedule"></contact-form>
    <br>
    <div id= "map" class="center-align">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.9268848253605!2d21.91966831548683!3d43.315789979134266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4755b093eb973657%3A0x33f76a8822b4044c!2sVranjanska+21%2C+Ni%C5%A1!5e0!3m2!1sen!2srs!4v1518258567801" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="fixed-action-btn" id="menu">
    <a href="#" class="btn-floating red btn-large"><i class="large material-icons">arrow_upward</i></a>
    <ul>
      <a href="#map"><li class="btn-floating orange btn-large" onClick="mapClick()"><i class="large material-icons">near_me</i></li></a>
      <a href="mailto:sale.gaga@gmail.com?Subject=Happy%20Star"><li class="btn-floating purple btn-large"><i class="large material-icons">mail</i></li></a> 
    </ul>
  </div>
</div>
<footer></footer>
</div>
