table, th, td {
    border-collapse:initial;
    border: none;
    border-spacing: 5px;    
}

th {
    font-weight: bold;
    font-size: 1.2em;
}

td, th {
    width:14%;
    border-radius: 11px;    
    border: 2px solid white;    
}

th:first-child, td:first-child {
    width:8%;
}

td:last-child {
    width:6%;
}

th { 
    background-color:#705d56; 
}

tr:nth-child(odd) {background: #d1ada1}


tr:hover {
    cursor: pointer;
    background-color: #fff;
    color:#000;
}

flash-messages {
    z-index: 10000;
    position: relative;
    text-align: center;
    font-size:40px;
}

.btn {
    border-radius: 7px;
}

.home {
    position: absolute;
    top: 10px;
    left: 10px;
}

.home a {
    color:#fff;
}
.google-image {
    position: absolute;
    top: 10px;
    right: 10px;
}

.google-image img {
    width:75px;
    height:75px; 
    border-radius: 10px;   
}
.google-image a {
    display:block;
    text-align: center;
    color:white; 
}