h3 {margin-top:100px;}

table, th, td {
    border-collapse:initial;
    border: none;
    border-spacing: 5px;    
}

th {
    font-weight: bold;
    font-size: 1.2em;
}

td, th {
    width:14%;
    border-radius: 11px;    
    border: 2px solid white;    
}

th:first-child, td:first-child {
    width:8%;
}

td:last-child {
    width:6%;
    border:none;
    background-color: #616161;
}

th { 
    background-color:#303f9f; 
}

tr:nth-child(odd) {background: #9fa8da }
tr:nth-child(even) {background: #5c6bc0}

tr:hover {
    cursor: pointer;
    background-color: #fff;
    color:#000;
}

flash-messages {
    z-index: 10000;
    position: relative;
    text-align: center;
    font-size:40px;
}

.btn {
    border-radius: 7px;
}

.home {
    position: absolute;
    top: 10px;
    left: 10px;
}

.home a {
    color:#fff;
}

@media screen and (max-width: 601px) {

    h3 {font-size:2.3rem;margin-top:120px;}
   
  } 