<div class="container">
<flash-messages></flash-messages>
<h3 class="center-align">Pregled rezervacija</h3>
  <table class="centered">
      <thead>
        <tr>
            <th>Soba</th>
            <th>Period</th>
            <th>Cena</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>email</th>
            <th>Napomena</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let client of result">
          <td>{{client.room}}</td>
          <td>{{client.period[0].beginDate.day}}/{{client.period[0].beginDate.month}}/{{client.period[0].beginDate.year}}
            - {{client.period[1].endDate.day}}/{{client.period[1].endDate.month}}/{{client.period[1].endDate.year}}
          </td>
          <td>{{client.price}}</td>
          <td>{{client.firstname}}</td>
          <td>{{client.lastname}}</td>
          <td>{{client.email}}</td>
          <td>{{client.comentar}}</td>
          <td><button id="delete"  class="btn btn-primary center-block red" (click)=deleteClient(client._id)>Obrisi</button></td>
          
        </tr>
      </tbody>
    </table>

  <div *ngIf="check()" class=changeForm>
      <div *ngFor="let rooms of room">
        <p>Promeni cenu ili popust za sobu br {{rooms.number}}</p>
        <input type="number"  [(ngModel)]="rooms.price" name="newprice" #newprice="ngModel">
        <input type="number"  [(ngModel)]="rooms.discount" name="newdiscount" #newprice="ngModel" max="1" step="0.1" min="0.5">
        <button class="btn btn-primary center-block green" (click)="changePrice(rooms.number, rooms.price, rooms.discount)">Promeni</button>  
    </div>
  </div>          

</div>