<div class="login">
<a routerLink="/" class="right"><i class="fas fa-home fa-3x"></i></a>
</div>
<div *ngIf="googleUser" class="google">
  <div *ngFor="let user of googleUser" class="google-image">
    <img  src="{{user.thumbnail}}" alt="">
    <a  (click)=logOut() href="http://localhost:3000/user/logout">LogOut</a>
  </div>
</div>
<div class="container-fluid">

  <div *ngIf="!googleUser" class="center-align google">
      <h3>Logujte se google nalogom</h3>  
    <a class="google-btn" (click)=google() href="http://localhost:3000/auth/google">Google+</a>
  </div>
  <div *ngIf="googleUser" class="admin">
    <h3>Dobrodosao {{googleUser[0].username}}</h3>
    <a routerLink="/admin" >Uredi tvoje rezervacije</a>
  </div>
</div>