img {
    height:50px;
    padding-left: 30px;
}

header {
    margin-top: 50px;
}

.phone {
    display: inline-block;
    position: relative;
    top:-10px;
}

.phone p {
    margin:5px;
    
}
  
#map iframe {
    border-radius: 20px;
    min-width: 300px;
}

@media screen and (max-width: 992px) {

    #map iframe {        
        width: 100%;
    }
}

@media only screen and (max-width : 480px) {
    img {        
        padding-left: 7px;
    }
}