<header class="center-align header">
<a href="https://www.facebook.com/Happy-Star-Apartmans-and-Hostel-1642541485795534/"><img src="../../assets/images/facebook.png" alt=""></a>
<a href="mailto:sale.gaga@gmail.com?Subject=Happy%20Star"><img src="../../assets/images/gmail.png" alt=""></a> 
<img src="../../assets/images/viber.png" alt=""> 
<div class="phone">
    <p><a href="viber://chat/?number=%2B381641339200">+381.64.133.9200</a></p>
    <p><a href="viber://chat?number=%2B381641857247">+381.64.185.7247</a></p>
</div>
</header>
<br>
<div id= "map" class="center-align">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2902.9268848253605!2d21.91966831548683!3d43.315789979134266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4755b093eb973657%3A0x33f76a8822b4044c!2sVranjanska+21%2C+Ni%C5%A1!5e0!3m2!1sen!2srs!4v1518258567801" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

