* {
    box-sizing: border-box;
}



body {
    background-color:  #8d6e63;
    color: white;
    /* font-family: "Roboto", Arial, Times, serif ; */
}

i {
  color:#FFF
}

a:link {
    color: #FFF;
}

a:visited {
    color: #FFF;
}
a:hover {
    color: #FFF;
}
a:active {
    color: #FFF;
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 2px solid rgb(207, 204, 202);
    border-right: 2px  rgb(241, 239, 237);   
    border-bottom: 2px solid transparent;
    animation: spinner 0.7s linear infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

.google-image {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .google-image img {
    width:60px;
    height:60px; 
    border-radius: 10px;   
  }
  .google-image a {
    display:block;
    text-align: center;
  }